{
  "openapi": "3.0.1",
  "info": {
    "version": "2.1.1"
  },
  "servers": [
    {
      "url": "https://ec.europa.eu/esco/open-api",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "resources",
      "description": "the resources API"
    },
    {
      "name": "resource",
      "description": "the resource API"
    },
    {
      "name": "search",
      "description": "the search API"
    }
  ],
  "paths": {
    "/api/search": {
      "post": {
        "tags": [
          "filtered search"
        ],
        "summary": "Search on Skills, Occupations, ISCED-F and ISCO concepts",
        "description": "Get a list of concepts matching the provided filters",
        "operationId": "search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}": {
      "get": {
        "tags": [
          "resource",
          "skill"
        ],
        "summary": "Get a skill by its identifier",
        "operationId": "getSkill",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Header",
            "in": "header",
            "description": "The default accept header of the returned response",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/hal+json"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillDto"
                }
              },
              "application/rdf+xml": {},
              "text/turtle": {}
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}/related": {
      "get": {
        "tags": [
          "resource",
          "skill",
          "resources"
        ],
        "summary": "Get the related resources of a given skill by a given relation.",
        "description": "Returns a list view of related resources in the given concept scheme",
        "operationId": "getSkillRelated",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}/related-hierarchy": {
      "get": {
        "tags": [
          "resource",
          "hierarchy",
          "skill"
        ],
        "summary": "Get the hierarchical relations of the related resources of a skill by a given relation",
        "description": "Returns a list view of related resources including their hierarchical relations in all relevant concept schemes",
        "operationId": "getSkillRelatedHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedHierarchyDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}/history": {
      "get": {
        "tags": [
          "resource",
          "skill",
          "history"
        ],
        "summary": "Get delta changes of specified skill between ESCO versions",
        "description": "This endpoint retrieves delta changes of the specified skill between ESCO versions. ",
        "operationId": "getSkillHistory",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullHistory",
            "in": "query",
            "description": "To get (or not) the full history for all ESCO versions",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}/hierarchy": {
      "get": {
        "tags": [
          "resource",
          "hierarchy",
          "skill"
        ],
        "summary": "Get the hierarchical relations of a skill",
        "operationId": "getSkillHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchySkillDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{prefix}:{id}/conversion": {
      "get": {
        "tags": [
          "resource",
          "skill",
          "conversion"
        ],
        "summary": "Get the converted skills of the given skill (if any)",
        "description": "This endpoint retrieves the state of a given skill on the specified ESCO version, including previous skills that were replaced by the given skill, new skills that replace it or both. potentially returning a list of skills if the given skill was split into multiple skills in the selected version. ",
        "operationId": "getSkillConversion",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionSkillDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill-list": {
      "get": {
        "tags": [
          "skill",
          "resources"
        ],
        "summary": "Get a list of skills by their URIs",
        "operationId": "getSkills",
        "parameters": [
          {
            "name": "uris",
            "in": "query",
            "description": "The URIs of the requested concepts",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill-list/full-hierarchy": {
      "get": {
        "tags": [
          "hierarchy",
          "skill",
          "resources"
        ],
        "summary": "Get the full hierarchy view of skill pillar",
        "operationId": "getSkillsFullHierarchy",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "viewObsolete",
            "in": "query",
            "description": "To include (or not) obsoleted concepts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FullHierarchySkillDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/skill-list/by-scheme": {
      "get": {
        "tags": [
          "skill",
          "resources"
        ],
        "summary": "Get a list of skills by the URI of a Concept Scheme",
        "operationId": "getSkills_1",
        "parameters": [
          {
            "name": "inScheme",
            "in": "query",
            "description": "The URI of the concept scheme",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "viewObsolete",
            "in": "query",
            "description": "To include (or not) obsoleted concepts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSkillListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all resources of a given class matching a plain text in a given language.",
        "description": "This is a full text search on the preferred labels, the alternative labels, the hidden labels, and the description of a resource. The search must be scoped on class type and language. The search result is paged.",
        "operationId": "searchGet",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasLabel",
            "in": "query",
            "description": "The label property to search for",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prefLabel",
                  "altLabel",
                  "hiddenLabel",
                  "description"
                ]
              }
            }
          },
          {
            "name": "hasLabelRole",
            "in": "query",
            "description": "Allows filtering on gender specific terms",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "http://data.europa.eu/esco/label-role/neutral",
                  "http://data.europa.eu/esco/label-role/standard-male",
                  "http://data.europa.eu/esco/label-role/standard-female",
                  "http://data.europa.eu/esco/label-role/male",
                  "http://data.europa.eu/esco/label-role/female"
                ]
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The class of resources to search for",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "concept",
                  "occupation",
                  "skill",
                  "conceptScheme"
                ]
              }
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to search for resources that are contained in it",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facet",
            "in": "query",
            "description": "The facet to count for. The response will return for each different value of the given facet the number of occurrences in the search result set",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "type",
                  "inScheme"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "viewObsolete",
            "in": "query",
            "description": "To include (or not) obsoleted concepts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSearchDto"
                }
              },
              "text/turtle": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSearchDto"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSearchDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}": {
      "get": {
        "tags": [
          "occupation",
          "resource"
        ],
        "summary": "Get an occupation by its identifier.",
        "operationId": "getOccupation",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Header",
            "in": "header",
            "description": "The default accept header of the returned response",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/hal+json"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/OccupationDto"
                }
              },
              "application/rdf+xml": {},
              "text/turtle": {}
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}/related": {
      "get": {
        "tags": [
          "occupation",
          "resource",
          "resources"
        ],
        "summary": "Get the related resources of a given occupation by a given relation.",
        "description": "Returns a list view of related resources in the given concept scheme",
        "operationId": "getOccupationRelated",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}/related-hierarchy": {
      "get": {
        "tags": [
          "occupation",
          "resource",
          "hierarchy"
        ],
        "summary": "Get the hierarchical relations of the related resources of an occupation by a given relation",
        "description": "Returns a list view of related resources including their hierarchical relations in all relevant concept schemes",
        "operationId": "getOccupationRelatedHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedHierarchyDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}/history": {
      "get": {
        "tags": [
          "occupation",
          "resource",
          "history"
        ],
        "summary": "Get delta changes of specified concepts between ESCO versions",
        "description": "This endpoint retrieves delta changes of the specified concepts between ESCO versions.",
        "operationId": "getOccupationHistory",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullHistory",
            "in": "query",
            "description": "To get (or not) the full history for all ESCO versions",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}/hierarchy": {
      "get": {
        "tags": [
          "occupation",
          "resource",
          "hierarchy"
        ],
        "summary": "Get the hierarchical relations of an occupation",
        "operationId": "getOccupationHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyOccupationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation/{prefix}:{id}/conversion": {
      "get": {
        "tags": [
          "occupation",
          "resource",
          "conversion"
        ],
        "summary": "Get the converted occupations of the given occupation (if any)",
        "description": "This endpoint retrieves the state of a given occupation on the specified ESCO version, including previous occupations that were replaced by the given occupation, new occupations that replace it or both. potentially returning a list of occupations if the given occupation was split into multiple occupations in the selected version. ",
        "operationId": "getOccupationConversion",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionOccupationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation-list": {
      "get": {
        "tags": [
          "occupation",
          "resources"
        ],
        "summary": "Get a list of Occupations by their URIs",
        "operationId": "getOccupations",
        "parameters": [
          {
            "name": "uris",
            "in": "query",
            "description": "The URIs of the requested concepts",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/OccupationListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation-list/full-hierarchy": {
      "get": {
        "tags": [
          "occupation",
          "hierarchy",
          "resources"
        ],
        "summary": "Get the full hierarchy view of Occupation pillar",
        "operationId": "getOccupationsFullHierarchy",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "viewObsolete",
            "in": "query",
            "description": "To include (or not) obsoleted concepts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/FullHierarchyOccupationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/occupation-list/by-scheme": {
      "get": {
        "tags": [
          "occupation",
          "resources"
        ],
        "summary": "Get a list of occupations by the URI of a Concept Scheme",
        "operationId": "getOccupationsByScheme",
        "parameters": [
          {
            "name": "inScheme",
            "in": "query",
            "description": "The URI of the concept scheme",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "viewObsolete",
            "in": "query",
            "description": "To include (or not) obsoleted concepts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOccupationListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/config-info/prefixes": {
      "get": {
        "tags": [
          "config-info-controller"
        ],
        "operationId": "getEscoPrefixes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EscoPrefix"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/config-info/default-version": {
      "get": {
        "tags": [
          "config-info-controller"
        ],
        "operationId": "getEscoDefaultVersion",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/config-info/available-languages": {
      "get": {
        "tags": [
          "config-info-controller"
        ],
        "operationId": "getAvailableLanguages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscoLanguage"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}": {
      "get": {
        "tags": [
          "resource",
          "concept"
        ],
        "summary": "Get a concept by its identifier.",
        "operationId": "getConcept",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Header",
            "in": "header",
            "description": "The default accept header of the returned response",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/hal+json"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              },
              "application/rdf+xml": {},
              "text/turtle": {}
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/rdf+xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/turtle": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}/related": {
      "get": {
        "tags": [
          "resource",
          "concept",
          "resources"
        ],
        "summary": "Get the related resources of a given concept by a given relation.",
        "description": "Returns a list view of related resources in the given concept scheme",
        "operationId": "getConceptRelated",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}/related-hierarchy": {
      "get": {
        "tags": [
          "resource",
          "hierarchy",
          "concept"
        ],
        "summary": "Get the hierarchical relations of the related resources of a concept by a given relation",
        "description": "Returns a list view of related resources including their hierarchical relations in all relevant concept schemes",
        "operationId": "getConceptRelatedHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "The relation to get the related resources for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inScheme",
            "in": "query",
            "description": "The concept scheme to look for related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the returned resources in the response",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedHierarchyDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}/history": {
      "get": {
        "tags": [
          "resource",
          "concept",
          "history"
        ],
        "summary": "Get delta changes of specified concepts between ESCO versions",
        "description": "This endpoint retrieves delta changes of the specified concepts between ESCO versions.",
        "operationId": "getConceptHistory",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullHistory",
            "in": "query",
            "description": "To get (or not) the full history for all ESCO versions",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}/hierarchy": {
      "get": {
        "tags": [
          "resource",
          "hierarchy",
          "concept"
        ],
        "summary": "Get the hierarchical relations of a concept",
        "operationId": "getConceptHierarchy",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyConceptDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept/{prefix}:{id}/conversion": {
      "get": {
        "tags": [
          "resource",
          "concept",
          "conversion"
        ],
        "summary": "Get the converted concepts of the given concept (if any)",
        "description": "This endpoint retrieves the state of a given concept on the specified ESCO version, including previous concepts that were replaced by the given concept, new concepts that replace it or both. potentially returning a list of concepts if the given concept was split into multiple concepts in the selected version. ",
        "operationId": "getConceptConversion",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the returned response (overwrites the Accept-Language header). Language \"en-us\" is only available for ESCO version \"v1.0.9\" and language \"uk\" is available for ESCO version \"v1.1.0\" or later.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedVersion",
            "in": "query",
            "description": "The selected ESCO dataset version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionConceptDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concept-scheme/{prefix}:{id}": {
      "get": {
        "tags": [
          "resource",
          "concept scheme"
        ],
        "summary": "Get a concept scheme by its identifier.",
        "operationId": "getConceptScheme",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "The namespace of the ID that follows",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier associated with the resource to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The default language of the returned response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Header",
[...]
